[Unit]
Description=Open Source Antispam Email Filtering Framework

[Service]
Type=forking
ExecStart=/opt/venvs/spampad/bin/padd.py -d -r /var/run/padd.pid --prefork 4 -C /usr/share/spampad -S /etc/spampad
ExecStop=/opt/venvs/spampad/bin/padd.py -r /var/run/padd.pid stop
ExecReload=/opt/venvs/spampad/bin/padd.py -r /var/run/padd.pid reload
PIDFile=/var/run/padd.pid
KillMode=mixed


[Install]
WantedBy=multi-user.target
